@using CompanyRestaurant.MVC.Models.ViewModels.MaterialPriceVM;

@model DeleteMaterialPriceVM

@{
    ViewData["Title"] = "Delete Material-Price";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@Model.Name Sil</h3>

<!-- Ürün bilgilerini göster -->
<div>
    <p>Adı: @Model.Name</p>
    <p>Fiyatı: @Model.Price</p>
    <p>Açıklama: @Model.Description</p>
    <p>Aktif: @(Model.IsActive ? "Evet" : "Hayır")</p>

</div>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <p>@Model.Name Malzeme-Fiyat'ı silmek istediğinize emin misiniz?</p>
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
