@model List<MaterialPrice>
@{
    ViewData["Title"] = "Malzeme-Fiyat Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h2>@ViewData["Title"]</h2>
            <a asp-controller="MaterialPrice" asp-action="Create" class="btn btn-success">Malzeme-Fiyat Ekle</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ad</th>
                    <th>Fiyat</th>
                    <th>Açıklama</th>
                    <th>Durum</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Description</td>
                        <td>
                            @if (item.IsActive)
                            {
                                <span class="right badge badge-success">Active</span>
                            }
                            else
                            {
                                <span class="right badge badge-danger">Passive</span>
                            }

                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary">Sil</a>

                            @*  <form asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.ID" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Sil</button>
                        </form> *@


                            <a asp-action="Update" asp-route-id="@item.ID" class="btn btn-warning">Güncelle</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

