@model CompanyRestaurant.MVC.Models.DashboardVM.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Dashboard</h2>

<div class="container">
    <div class="row">
        <!-- Toplam Satış Kartı -->
        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Toplam Satış</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.TotalSales $</h5>
                    <p class="card-text">Bugüne kadar yapılan toplam satış miktarı.</p>
                </div>
            </div>
        </div>

        <!-- Bugünkü Satış Kartı -->
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Bugünkü Satışlar</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.TodaySales $</h5>
                    <p class="card-text">Bugün yapılan satış miktarı.</p>
                </div>
            </div>
        </div>

        <!-- Aktif Rezervasyon Sayısı Kartı -->
        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Aktif Rezervasyonlar</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.ActiveReservations</h5>
                    <p class="card-text">Şu anda aktif olan rezervasyon sayısı.</p>
                </div>
            </div>
        </div>

        <!-- Stokta Azalan Ürün Sayısı Kartı -->
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">Stokta Azalan Ürünler</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.LowStockProductsCount</h5>
                    <p class="card-text">Stok miktarı azalan ürünlerin sayısı.</p>
                </div>
            </div>
        </div>
        <!-- Toplam Çalışcan Sayısı Kartı -->
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">Toplam Çalışan Sayısı</div>
                <div class="card-body">
                    <h5 class="card-title">@Model.TotalEmployees</h5>
                    <p class="card-text">Stok miktarı azalan ürünlerin sayısı.</p>
                </div>
            </div>
        </div>
    </div>
</div>