@model CompanyRestaurant.MVC.Models.EmployeeVM.EmployeeViewModel

@{
    ViewData["Title"] = "Çalışanı Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Uyarı!</h4>
    <p>Bu işlemi gerçekleştirdiğinizde, aşağıdaki çalışanın tüm bilgileri kalıcı olarak silinecektir. Bu işlem geri alınamaz.</p>
    <hr>
    <p class="mb-0">Lütfen silmek istediğinize emin olun.</p>
</div>

<div>
    <h4>Çalışan Bilgileri</h4>
    <dl class="row">
        <dt class="col-sm-4">Adı</dt>
        <dd class="col-sm-8">@Model.Name</dd>

        <dt class="col-sm-4">Soyadı</dt>
        <dd class="col-sm-8">@Model.Surname</dd>

        <dt class="col-sm-4">Unvan</dt>
        <dd class="col-sm-8">@Model.Title</dd>

        <dt class="col-sm-4">Telefon Numarası</dt>
        <dd class="col-sm-8">@Model.Phone</dd>

    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">İptal</a>
</form>
