@using CompanyRestaurant.MVC.Models.ViewModels.CustomerVM;

@model DeleteCustomerVM

@{
    ViewData["Title"] = "Delete Customer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@Model.Name @Model.Surname Sil</h3>

<!-- Ürün bilgilerini göster -->
<div>
    <p>Adı: @Model.Name</p>
    <p>Soyadı: @Model.Surname</p>
    <p>Telefon: @Model.Phone</p>
    <p>Mail: @Model.Email</p>
    <p>Açıklama: @Model.Description</p>
    <p>Aktif: @(Model.IsActive ? "Evet" : "Hayır")</p>

</div>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <p>@Model.Name @Model.Surname Müşterisini silmek istediğinize emin misiniz?</p>
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
