@model IEnumerable<CompanyRestaurant.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Müşteri Listesi";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Telefon Numarası</th>
            <th>E-Posta</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.Description</td>
                <td>
                    <a href="@Url.Action("Edit", "Customer", new { id = item.Id })" class="btn btn-warning">Düzenle</a>
                    <a href="@Url.Action("Details", "Customer", new { id = item.Id })" class="btn btn-info">Detaylar</a>
                    <a href="@Url.Action("Delete", "Customer", new { id = item.Id })" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Customer")" class="btn btn-primary">Yeni Müşteri Ekle</a>
