@model CompanyRestaurant.MVC.Models.TableVM.TableViewModel

@{
    ViewData["Title"] = "Masa Detayları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="details-view">
    <dl class="dl-horizontal">
        <dt>Masa Numarası</dt>
        <dd>@Model.TableNo</dd>

        <dt>Kişi Kapasitesi</dt>
        <dd>@Model.PersonCapacity</dd>

        <dt>Rezervasyon Durumu</dt>
        <dd>@(Model.IsReserved ? "Rezerve Edilmiş" : "Rezerve Edilmemiş")</dd>

        <dt>Masa Konumu</dt>
        <dd>@Model.Location</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Düzenle</a>
    <a asp-action="Index" class="btn btn-secondary">Geri</a>
</div>