@model List<Table>
@{
    ViewData["Title"] = "Masa Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h2>@ViewData["Title"]</h2>
            <a asp-controller="Table" asp-action="Create" class="btn btn-success">Masa Ekle</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Masa No</th>
                    <th>Rezervasyon durumu</th>
                    <th>Kişi kapasitesi</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.TableNo</td>
                        <td>@item.RezStatus</td>
                        <td>@item.PersonCapacity</td>
                        <td>
                            @if (item.IsActive)
                            {
                                <span class="right badge badge-success">Active</span>
                            }
                            else
                            {
                                <span class="right badge badge-danger">Passive</span>
                            }

                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary">Sil</a>
                            <a asp-action="Update" asp-route-id="@item.ID" class="btn btn-warning">Güncelle</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

