@    using CompanyRestaurant.MVC.Models.ViewModels.CurrentVM;
    using CompanyRestaurant.MVC.Areas.Admin.Models.ViewModels.CurrentVM;

@model DeleteCurrentVM

@{
    ViewData["Title"] = "Delete Current";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@Model.CompanyName Sil</h3>

<!-- Ürün bilgilerini göster -->
<div>
    <p>Hesap No: @Model.AccountNumber</p>
    <p>Kişi: @Model.ContactName</p>
    <p>Telefon: @Model.ContactPhone</p>
    <p>Vergi No: @Model.TaxNumber</p>
    <p>Aktif: @(Model.IsActive ? "Evet" : "Hayır")</p>
    
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <p>@Model.CompanyName Şirketini silmek istediğinize emin misiniz?</p>
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
