@model List<Current>
@{
    ViewData["Title"] = "Cari Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h2>@ViewData["Title"]</h2>
            <a asp-controller="Current" asp-action="Create" class="btn btn-success">Cari Ekle</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Borç</th>
                    <th>Alacak</th>
                    <th>Hesap Numarası</th>
                    <th>Firma Adı</th>
                    <th>Kişi Adı</th>
                    <th>İletişim E-posta</th>
                    <th>İletişim Telefonu</th>
                    <th>Adres</th>
                    <th>Vergi Numarası</th>
                    <th>Vergi Adresi</th>
                    <th>Durum</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Debit</td>
                        <td>@item.Credit</td>
                        <td>@item.AccountNumber</td>
                        <td>@item.CompanyName</td>
                        <td>@item.ContactName</td>
                        <td>@item.ContactEmail</td>
                        <td>@item.ContactPhone</td>
                        <td>@item.Address</td>
                        <td>@item.TaxNumber</td>
                        <td>@item.TaxOffice</td>
                        <td>
                            @if (item.IsActive)
                            {
                                <span class="right badge badge-success">Active</span>
                            }
                            else
                            {
                                <span class="right badge badge-danger">Passive</span>
                            }

                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary">Sil</a>

                            @*  <form asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.ID" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Sil</button>
                        </form> *@


                            <a asp-action="Update" asp-route-id="@item.ID" class="btn btn-warning">Güncelle</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

