@model List<Order>
@{
    ViewData["Title"] = "Sipariş Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h2>@ViewData["Title"]</h2>
            <a asp-controller="Order" asp-action="Create" class="btn btn-success">Sipariş Ekle</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sipariş</th>
                    <th>Fiyatı</th>
                    <th>Masa No</th>
                    <th>Çalışan</th>
                    <th>Tutar</th>
                    <th>Ödeme tipi</th>
                    <th>Durumu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.OrderName</td>
                        <td>@item.Price</td>
                        <td>
                            @foreach (var table in ViewBag.Tables as List<Table>)
                            {
                                if (item.TableId == table.ID)
                                {
                                    <span>@table.TableNo</span>
                                }
                            }

                        </td>
                        <td>
                            @foreach (var employee in ViewBag.Employees as List<Employee>)
                            {
                                if (item.EmployeeId == employee.ID)
                                {
                                    <span>@employee.Name</span>
                                }
                            }

                        </td>
                        <td>
                           @*  @foreach (var accounting in ViewBag.Accountings as List<Accounting>)
                            {
                                if (item.AccountingId == accounting.ID)
                                {
                                    <span>@accounting.Debit</span>
                                }
                            } *@

                        </td>
                        <td>@item.PaymentType</td>
                        <td>
                            @if (item.IsActive)
                            {
                                <span class="right badge badge-success">Active</span>
                            }
                            else
                            {
                                <span class="right badge badge-danger">Passive</span>
                            }

                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary">Sil</a>
                            <a asp-action="Update" asp-route-id="@item.ID" class="btn btn-warning">Güncelle</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

